<a href="https://colab.research.google.com/github/Bhakti-S/100daysofDataScience/blob/master/Gotta_Catch_Em_All.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Task 1 - Load the Pokemon dataset
import pandas as pd
filepath = '/pokemon.csv'
df = pd.read_csv(filepath)
print(df)

       #            Name   Type 1  ... Speed  Generation  Legendary
0      1       Bulbasaur    Grass  ...    45           1      False
1      2         Ivysaur    Grass  ...    60           1      False
2      3        Venusaur    Grass  ...    80           1      False
3      4   Mega Venusaur    Grass  ...    80           1      False
4      5      Charmander     Fire  ...    65           1      False
..   ...             ...      ...  ...   ...         ...        ...
795  796         Diancie     Rock  ...    50           6       True
796  797    Mega Diancie     Rock  ...   110           6       True
797  798  Hoopa Confined  Psychic  ...    70           6       True
798  799   Hoopa Unbound  Psychic  ...    80           6       True
799  800       Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [3]:
#Task 2 - Explore the dataset
# Code starts here
# head of the dataframe
head = df.head(10)
print('head ',head)
# describe the dataframe

describe = df.describe()
print('describe ', describe)
# shape of the dataframe
shape = df.shape
print(shape)

# check for null values
null = df.isnull().sum()

print('null ', null)
# check for unique values
unique = df.nunique()
print('unique ',unique)

# code ends here

head      #              Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0   1         Bulbasaur  Grass  Poison  ...       65     45           1      False
1   2           Ivysaur  Grass  Poison  ...       80     60           1      False
2   3          Venusaur  Grass  Poison  ...      100     80           1      False
3   4     Mega Venusaur  Grass  Poison  ...      120     80           1      False
4   5        Charmander   Fire     NaN  ...       50     65           1      False
5   6        Charmeleon   Fire     NaN  ...       65     80           1      False
6   7         Charizard   Fire  Flying  ...       85    100           1      False
7   8  Mega Charizard X   Fire  Dragon  ...       85    100           1      False
8   9  Mega Charizard Y   Fire  Flying  ...      115    100           1      False
9  10          Squirtle  Water     NaN  ...       64     43           1      False

[10 rows x 12 columns]
describe                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.0000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   400.5000   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    231.0844   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.0000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    200.7500   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    400.5000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    600.2500   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    800.0000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]
(800, 12)
null  #               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64
unique  #             800
Name          799
Type 1         18
Type 2         18
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [4]:
#Task 3 - Find total powers of Pokemon
# Code starts here
df['Total'] = df['HP']+df['Attack'] + df['Sp. Atk'] + df['Sp. Def']+ df['Speed'] + df['Defense']
# Create new column
print(df.shape)
print(df['Total'])
print(df['Total'][3])

(800, 13)
0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64
625

In [5]:

#Task 4 - Rename, drop and clean
# Code starts here
# Rename columns 'HP', 'Sp. Atk' and 'Sp. Def' as 'Health Points',
# 'Attack speed points' and 'Defense speed points'
df.rename(columns= 
{'HP':'Health Points', 'Sp. Atk': 'Attack speed points','Sp. Def':'Defense speed points'}, inplace = True)


# Remove the '#' column permanently

df.drop(['#'], axis=1, inplace = True)

# Set index as names
df.set_index('Name',inplace = True)

# Look at the first 5 observations
df.head(5)

# Code ends here

              Type 1  Type 2  Health Points  ...  Generation  Legendary  Total
Name                                         ...
Bulbasaur      Grass  Poison             45  ...           1      False    318
Ivysaur        Grass  Poison             60  ...           1      False    405
Venusaur       Grass  Poison             80  ...           1      False    525
Mega Venusaur  Grass  Poison             80  ...           1      False    625
Charmander      Fire     NaN             39  ...           1      False    309

[5 rows x 11 columns]

In [6]:
#Task 5 - Find out information of Pokemons based on `Type 2` attribute 
# Code starts here

# Different variants of `Type 2`
type_two = df['Type 2'].unique()
print(type_two)

# Total different types of `Type 2`
type_two_num = df['Type 2'].nunique()
print(type_two_num)

# Counts for different types of `Type 2`
counts_type_two = df['Type 2'].value_counts()
print(counts_type_two)
#df.groupby('Type 2').count()
no_type_two = df['Type 2'].isnull().sum()
# Number of Pokemons don't have `Type 2`
#print(df['Type 2'==''].count())
print(no_type_two)
# Code ends here

['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']
18
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Rock        14
Ice         14
Water       14
Ghost       14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64
386

In [7]:
#Task 6 - Find the pokemon with the highest points
# Code starts here
df['Legendary'].nunique()
df['Legendary'].value_counts()
print(len(df['Legendary']))

print(df.head())
print(df.columns)
# Which pokemon has the highest 'Health Points'?
healthiest_pokemon = df['Health Points'].idxmax()

# Which pokemon has the highest Special Atack points?
special_attack_pokemon = df['Attack speed points'].idxmax()

# Which pokemon has the highest Special Defense points?

special_defense_pokemon = df['Defense speed points'].idxmax()
# Which pokemon has highest Speed?
fastest_pokemon = df['Speed'].idxmax()

print(healthiest_pokemon,' : healthiest_pokemon')
print(special_attack_pokemon,' : special_attack_pokemon')
print(special_defense_pokemon,' : special_defense_pokemon')
print(fastest_pokemon,' : fastest_pokemon')
# Code ends here

800
              Type 1  Type 2  Health Points  ...  Generation  Legendary  Total
Name                                         ...
Bulbasaur      Grass  Poison             45  ...           1      False    318
Ivysaur        Grass  Poison             60  ...           1      False    405
Venusaur       Grass  Poison             80  ...           1      False    525
Mega Venusaur  Grass  Poison             80  ...           1      False    625
Charmander      Fire     NaN             39  ...           1      False    309

[5 rows x 11 columns]
Index(['Type 1', 'Type 2', 'Health Points', 'Attack', 'Defense',
       'Attack speed points', 'Defense speed points', 'Speed', 'Generation',
       'Legendary', 'Total'],
      dtype='object')
Blissey  : healthiest_pokemon
Mega Mewtwo Y  : special_attack_pokemon
Shuckle  : special_defense_pokemon
Deoxys Speed Forme  : fastest_pokemon

In [8]:
#Task 7 - Answer questions using data
# Drop row with Name as nan
df = df[df.index.notnull()]
# Code starts here
# Find out which type of pokemons (use only `Type 1`) have the highest chances of being Legendary
#df[df['Legendary']==True].groupby('Type 1')
legendary_pokemon = df[df['Legendary']==True]
legendary_pokemon['Type 1'].value_counts()
highest_legendary = legendary_pokemon['Type 1'].value_counts().idxmax()
print(highest_legendary,': type has highest chances of being legendary')
# Pokemons which do not have 'Type 2' but are Legendary
#legendary_pokemon[legendary_pokemon['Type 2'].isnull()]
single_legendary_pokemon = legendary_pokemon[legendary_pokemon['Type 2'].isnull()==True]
single_type_legendary= len(single_legendary_pokemon)
print(single_type_legendary)

Psychic : type has highest chances of being legendary
25

In [10]:
#Task 8 - Modify Pokemon names
# Code starts here

# Convert 'Name' to uppercase
#df['Name'].index.str.lower()
# Convert 'Type 1' to lowercase
print(df.info())

df.index = df.index.str.upper()
#Wrong df['Type 1'].str.upper()
def to_upper(x):
    return (x.upper())

def to_lower(x):
    return(x.lower())
df['Type 1'] = df['Type 1'].apply(lambda x:to_lower(x))
df['Type 2'] = df['Type 2'].apply(lambda x:to_lower(x) if isinstance(x,str) else None)
# Convert 'Type 2' to lowercase if present else 
print(df)

<class 'pandas.core.frame.DataFrame'>
Index: 799 entries, BULBASAUR to VOLCANION
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Type 1                799 non-null    object
 1   Type 2                414 non-null    object
 2   Health Points         799 non-null    int64
 3   Attack                799 non-null    int64
 4   Defense               799 non-null    int64
 5   Attack speed points   799 non-null    int64
 6   Defense speed points  799 non-null    int64
 7   Speed                 799 non-null    int64
 8   Generation            799 non-null    int64
 9   Legendary             799 non-null    bool
 10  Total                 799 non-null    int64
dtypes: bool(1), int64(8), object(2)
memory usage: 69.4+ KB
None
                 Type 1  Type 2  Health Points  ...  Generation  Legendary  Total
Name                                            ...
BULBASAUR         grass  poison             45  ...           1      False    318
IVYSAUR           grass  poison             60  ...           1      False    405
VENUSAUR          grass  poison             80  ...           1      False    525
MEGA VENUSAUR     grass  poison             80  ...           1      False    625
CHARMANDER         fire    None             39  ...           1      False    309
...                 ...     ...            ...  ...         ...        ...    ...
DIANCIE            rock   fairy             50  ...           6       True    600
MEGA DIANCIE       rock   fairy             50  ...           6       True    700
HOOPA CONFINED  psychic   ghost             80  ...           6       True    600
HOOPA UNBOUND   psychic    dark             80  ...           6       True    680
VOLCANION          fire   water             80  ...           6       True    600

[799 rows x 11 columns]

In [11]:
#Task 9 - Find the fastest type (`Type 1`) Pokemons
import numpy as np
# Code starts here
df['Generation'].value_counts()
# Determine which type (Type 1) pokemons are the fastest(Speed)
#print(df.groupby(['Generation','Type 1']).groups)

####CORRECT CODE TOO
#fastest_type = (df.groupby(['Type 1'])[['Speed']].median().sort_values(by='Speed',ascending=False))
#print(fastest_type.index[0])

fastest_type1=(df.groupby(['Type 1'])[['Speed']].median().sort_values(by='Speed',ascending=False)).index[0]

fastest_type = fastest_type1.lower()
print(fastest_type)

flying

In [12]:
#Task 10 - Calculate mean value of attack speed points across generations and types 
# Code starts here

# mean value of 'Attack speed points' according to 'Generation' and 'Type 1'
#print(df.groupby(['Generation','Type 1']).agg({'Attack speed points':'mean'}))

#print(pd.pivot_table(df, index=['Generation', 'Type 1'] ,values='Attack speed points', aggfunc= 'mean'))
pivot = pd.pivot_table(df, index=['Type 1'], columns=['Generation'], values='Attack speed points')
print(pivot)

# Code ends here

Generation           1          2  ...           5           6
Type 1                             ...
bug          46.428571  47.916667  ...   62.888889   48.000000
dark               NaN  85.000000  ...   65.615385   78.666667
dragon       73.333333        NaN  ...   97.777778   82.250000
electric     91.111111  91.428571  ...   87.500000   83.666667
fairy        77.500000  53.000000  ...         NaN   88.333333
fighting     42.500000  35.000000  ...   47.142857   63.000000
fire         93.142857  83.625000  ...   72.888889   88.500000
flying             NaN        NaN  ...  117.500000   71.000000
ghost       128.750000  85.000000  ...   91.000000   52.300000
grass        90.538462  61.666667  ...   69.266667   67.400000
ground       39.375000  45.000000  ...   61.600000         NaN
ice         105.000000  60.000000  ...   80.000000   38.000000
normal       55.125000  58.466667  ...   54.473684   46.750000
poison       57.142857  70.000000  ...   50.000000   78.500000
psychic     123.000000  84.285714  ...   92.785714  109.800000
rock         61.500000  66.000000  ...   65.500000   75.888889
steel              NaN  50.000000  ...   68.750000   72.000000
water        69.354839  68.277778  ...   77.777778   85.200000

[18 rows x 6 columns]

In [13]:
#Task 11 - Combine data by merging dataframes
# Input 

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'product': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

print(df1)
print(df2)
# Code starts here
merged=pd.merge(left=df1, right=df2, left_on=['fruit', 'weight'], right_on=['product','kilo'],how='inner', suffixes=['_left','_right'])

print(merged)

# Code ends here

    fruit  weight  price
0   apple    high      0
1  banana  medium     11
2  orange     low     10
3   apple    high      5
4  banana  medium      3
5  orange     low      6
6   apple    high      4
7  banana  medium     13
8  orange     low      6
  product  kilo  price
0   apple  high      9
1  orange   low      4
2    pine  high      4
3   apple   low      3
4  orange  high     14
5    pine   low     13
    fruit weight  price_left product  kilo  price_right
0   apple   high           0   apple  high            9
1   apple   high           5   apple  high            9
2   apple   high           4   apple  high            9
3  orange    low          10  orange   low            4
4  orange    low           6  orange   low            4
5  orange    low           6  orange   low            4

In [14]:
#Task 12 - Categorize Attack speed points into Low Attack, Normal Attack and High Attack
# Code starts here
# Subset the dataframe of Attack speed points
Special_attack = pd.DataFrame(df['Attack speed points'],columns=['Attack speed points'])
#print(type(Special_attack))

# Print first 5 rows
Special_attack.head()
# Create a function attack
#print(Special_attack.isnull().sum())
#print(Special_attack.info())

def attack(num):
    if num < 60:
        return 'Low Attack'
    elif num > 60 and num <=120:
        return 'Normal Attack'
    else:
        return 'High Attack'        

# apply attack function on the feature Attack speed points.
Special_attack['Attack speed points']= Special_attack['Attack speed points'].apply(lambda x : attack(x))
print(Special_attack)
# Code ends here

               Attack speed points
Name
BULBASAUR            Normal Attack
IVYSAUR              Normal Attack
VENUSAUR             Normal Attack
MEGA VENUSAUR          High Attack
CHARMANDER             High Attack
...                            ...
DIANCIE              Normal Attack
MEGA DIANCIE           High Attack
HOOPA CONFINED         High Attack
HOOPA UNBOUND          High Attack
VOLCANION              High Attack

[799 rows x 1 columns]

In [15]:
#Task 13 - Which pokemon type is the strongest and which the weakest? (according to total stats)
# Code starts here
#Determine which type (Type 1) pokemons are the Strongest(Total)

pokemon_type_avg = df.groupby(['Type 1']).agg({"Total":"mean"}).sort_values(by= "Total",ascending = True)

#print(pokemon_type_avg)
print(type(pokemon_type_avg))
pokemon_type_avg.reset_index(inplace=True)
print(pokemon_type_avg.iloc[0,0])
# Strongest pokemon
weakest_type = pokemon_type_avg.iloc[0,0]

# Weakest pokemon
strongest_type = pokemon_type_avg.iloc[-1,0]
# Code ends here
print('strongest_type is ',strongest_type)
print('weakest_type is ',weakest_type)

<class 'pandas.core.frame.DataFrame'>
bug
strongest_type is  dragon
weakest_type is  bug

In [16]:
# Code starts here
# Set index name as Name
#print(df)
#df.set_index(name='Name')

# Create a subset of "Legendary","Generation","Attack" based on `True` Legendary 
Legendary=df[df['Legendary']==True]
pokemon_stats= Legendary[["Legendary","Generation","Attack"]]
# Groupby on data to find highest Legendary pokemon
df2=pokemon_stats.groupby(["Generation","Name"]).agg({"Attack":"mean"})
print(df2)
pokemon_stats_legendary=df2.idxmax()[0]
print(df2.index)

print(pokemon_stats_legendary)
# Code ends here

                               Attack
Generation Name
1          ARTICUNO                85
           MEGA MEWTWO X          190
           MEGA MEWTWO Y          150
           MEWTWO                 110
           MOLTRES                100
...                               ...
6          MEGA DIANCIE           160
           VOLCANION              110
           XERNEAS                131
           YVELTAL                131
           ZYGARDE HALF FORME     100

[65 rows x 1 columns]
MultiIndex([(1,                  'ARTICUNO'),
            (1,             'MEGA MEWTWO X'),
            (1,             'MEGA MEWTWO Y'),
            (1,                    'MEWTWO'),
            (1,                   'MOLTRES'),
            (1,                    'ZAPDOS'),
            (2,                     'ENTEI'),
            (2,                     'HO-OH'),
            (2,                     'LUGIA'),
            (2,                    'RAIKOU'),
            (2,                   'SUICUNE'),
            (3,      'DEOXYS DEFENSE FORME'),
            (3,       'DEOXYS NORMAL FORME'),
            (3,        'DEOXYS SPEED FORME'),
            (3,        'DEOXYSATTACK FORME'),
            (3,                   'GROUDON'),
            (3,                   'JIRACHI'),
            (3,                    'KYOGRE'),
            (3,                    'LATIAS'),
            (3,                    'LATIOS'),
            (3,               'MEGA LATIAS'),
            (3,               'MEGA LATIOS'),
            (3,             'MEGA RAYQUAZA'),
            (3,            'PRIMAL GROUDON'),
            (3,             'PRIMAL KYOGRE'),
            (3,                  'RAYQUAZA'),
            (3,                    'REGICE'),
            (3,                  'REGIROCK'),
            (3,                 'REGISTEEL'),
            (4,                    'ARCEUS'),
            (4,                     'AZELF'),
            (4,                   'DARKRAI'),
            (4,                    'DIALGA'),
            (4,    'GIRATINA ALTERED FORME'),
            (4,     'GIRATINA ORIGIN FORME'),
            (4,                   'HEATRAN'),
            (4,                   'MESPRIT'),
            (4,                    'PALKIA'),
            (4,                 'REGIGIGAS'),
            (4,        'SHAYMIN LAND FORME'),
            (4,         'SHAYMIN SKY FORME'),
            (4,                      'UXIE'),
            (5,                  'COBALION'),
            (5,                    'KYUREM'),
            (5,       'KYUREM BLACK KYUREM'),
            (5,       'KYUREM WHITE KYUREM'),
            (5,  'LANDORUS INCARNATE FORME'),
            (5,    'LANDORUS THERIAN FORME'),
            (5,                  'RESHIRAM'),
            (5,                 'TERRAKION'),
            (5, 'THUNDURUS INCARNATE FORME'),
            (5,   'THUNDURUS THERIAN FORME'),
            (5,  'TORNADUS INCARNATE FORME'),
            (5,    'TORNADUS THERIAN FORME'),
            (5,                   'VICTINI'),
            (5,                  'VIRIZION'),
            (5,                    'ZEKROM'),
            (6,                   'DIANCIE'),
            (6,            'HOOPA CONFINED'),
            (6,             'HOOPA UNBOUND'),
            (6,              'MEGA DIANCIE'),
            (6,                 'VOLCANION'),
            (6,                   'XERNEAS'),
            (6,                   'YVELTAL'),
            (6,        'ZYGARDE HALF FORME')],
           names=['Generation', 'Name'])
(1, 'MEGA MEWTWO X')